# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

1. https://github.com/Nikita2993-Z/project-group-07/pull/2/commits/383f698c4beabff39e212481f75753b97d51a815
2. https://github.com/Nikita2993-Z/project-group-07/pull/26/commits/f6a3d943300a9da410c8f5f803195e0d60c7f2d5
3. https://github.com/Nikita2993-Z/project-group-07/pull/31/commits/42a888d98f2903c39bb38b53bf09a8c3c0c41e8c
4. https://github.com/Nikita2993-Z/project-group-07/pull/36/commits/c72ec714a68dd65ffe87158cafa8bcf876216150
5. https://github.com/Nikita2993-Z/project-group-07/pull/46/commits/a1901eb24cf46cbdaf950340429415240d26217a