<section id="catalog" class="catalog">
  <div class="container container_catalog">
    <h2 class="catalog_h2">Catalog</h2>
    <ul class="catalog_ul_items">
      <li class="catalog_li_items">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/garmin_fenix_x_pro_sapphire_solar@x1_pc.webp 1x,
                  /img/catalog/pc/garmin_fenix_x_pro_sapphire_solar@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/garmin_fenix_x_pro_sapphire_solar@x1_tab.webp 1x,
                  /img/catalog/tab/garmin_fenix_x_pro_sapphire_solar@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog/mob/garmin_fenix_x_pro_sapphire_solar@x1_mob.webp 1x,
                  /img/catalog/mob/garmin_fenix_x_pro_sapphire_solar@x2_mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog/mob/garmin_fenix_x_pro_sapphire_solar@x1_mob.webp"
                alt="garmin_fenix_x_pro_sapphire_solar"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">Garmin Fenix 7X Pro Sapphire Solar</p>
            <p class="catalog_p_price">€500</p>
          </div>
        </div>
      </li>
      <li class="catalog_li_items">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/garmin_marq_athlete@x1_pc.webp 1x,
                  /img/catalog/pc/garmin_marq_athlete@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/garmin_marq_athlete@x1_tab.webp 1x,
                  /img/catalog/tab/garmin_marq_athlete@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog/mob/garmin_marq_athlete@x1_mob.webp 1x,
                  /img/catalog/mob/garmin_marq_athlete@x2_mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog/mob/garmin_marq_athlete@x1_mob.webp"
                alt="garmin_marq_athlete"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">Garmin Marq Athlete</p>
            <p class="catalog_p_price">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog_li_items">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/garmin_descent_mk@x1_pc.webp 1x,
                  /img/catalog/pc/garmin_descent_mk@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/garmin_descent_mk@x1_tab.webp 1x,
                  /img/catalog/tab/garmin_descent_mk@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog/mob/garmin_descent_mk@x1_mob.webp 1x,
                  /img/catalog/mob/garmin_descent_mk@x2_mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog/mob/garmin_descent_mk@x1_mob.webp"
                alt="garmin_descent_mk"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">Garmin Descent MK1</p>
            <p class="catalog_p_price">€680</p>
          </div>
        </div>
      </li>
      <li class="catalog_li_items">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/garmin_d_delta_px@x1_pc.webp 1x,
                  /img/catalog/pc/garmin_d_delta_px@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/garmin_d_delta_px@x1_tab.webp 1x,
                  /img/catalog/tab/garmin_d_delta_px@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/catalog/mob/garmin_d_delta_px@x1_mob.webp 1x,
                  /img/catalog/mob/garmin_d_delta_px@x2_mob.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/catalog/mob/garmin_d_delta_px@x1_mob.webp"
                alt="garmin_d_delta_px"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">Garmin D2 Delta PX</p>
            <p class="catalog_p_price">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog_li_items visually">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/garmin_fenix_pro_solar@x1_pc.webp 1x,
                  /img/catalog/pc/garmin_fenix_pro_solar@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/garmin_fenix_pro_solar@x1_tab.webp 1x,
                  /img/catalog/tab/garmin_fenix_pro_solar@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />

              <img
                src="/img/catalog/tab/garmin_fenix_pro_solar@x1_tab.webp"
                alt="garmin_fenix_pro_solar"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">Garmin Fenix 6 Pro Solar</p>
            <p class="catalog_p_price">€400</p>
          </div>
        </div>
      </li>
      <li class="catalog_li_items visually">
        <div class="catalog_div_items">
          <div class="catalog_div_items_img">
            <picture class="catalog_div_picture">
              <source
                srcset="
                  /img/catalog/pc/tube_watch_s_date_steel_with_black_case@x1_pc.webp 1x,
                  /img/catalog/pc/tube_watch_s_date_steel_with_black_case@x2_pc.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/catalog/tab/tube_watch_s_date_steel_with_black_case@x1_tab.webp 1x,
                  /img/catalog/tab/tube_watch_s_date_steel_with_black_case@x2_tab.webp 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="/img/catalog/tab/tube_watch_s_date_steel_with_black_case@x1_tab.webp"
                alt="tube_watch_s_date_steel_with_black_case"
              />
            </picture>
          </div>
          <div class="catalog_div_items_txt">
            <p class="catalog_p_name">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <p class="catalog_p_price">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog_btn">Show more</button>
  </div>

</section>
