
<section class="contact-us" id="contact-us">
  <div class="container contact-us-container">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-wrap">
      <div class="contact-us-box">
        <p class="contact-us-txt">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-us-form">
          <div class="contact-us-group">
            <label class="contact-us-label">
              <input
                class="contact-us-input"
                type="text"
                name="user-name"
                placeholder="Name"
                autofocus
              />
            </label>
          </div>
          <div class="contact-us-group">
            <label class="contact-us-label">
              <input
                class="contact-us-input"
                type="text"
                name="user-email"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              />
            </label>
          </div>
          <div class="contact-us-group">
            <label class="contact-us-label">
              <input
                class="contact-us-input"
                type="text"
                name="user-phone"
                placeholder="+380"
                pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              />
            </label>
          </div>
          <div class="contact-us-form-comment">
            <label class="contact-us-label">
              <textarea
                name="user-comment"
                class="contact-us-input"
                placeholder="Comment"
                rows="3"
              ></textarea>
            </label>
          </div>
          <button class="contact-us-btn" type="submit">Send</button>
        </form>
      </div>
      <picture>
        <source
          srcset="
            /img/contact-us/contact-us-pc.jpg    1x,
            /img/contact-us/contact-us-pc@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/contact-us/contact-us-tab.jpg    1x,
            /img/contact-us/contact-us-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/contact-us/contact-us-mob.jpg    1x,
            /img/contact-us/contact-us-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="contact-us-img"
          src="/img/contact-us/contact-us-mob.jpg"
          alt="premium watch"
        />
      </picture>
    </div>
  </div>

</section>
