
<footer class="footer" id="footer">


  <div class="container">
    <div class="footer-main-box">
      <!-- TOP BOX -->
      <div class="footer-top-box">
        <div class="footer-logo-soc-box">
          <a class="logo" href="./index.html">watchcharm</a>
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noreffer noopener"
                alt="facebook"
              >
                <svg class="footer-social-icon">
                  <use href="./img/svg/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noreffer noopener"
                alt="instagram"
              >
                <svg class="footer-social-icon">
                  <use href="./img/svg/icons.svg#icon-insta"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a
                class="footer-social-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noreffer noopener"
                alt="youtube"
              >
                <svg class="footer-social-icon">
                  <use href="./img/svg/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <a class="footer-phone-link" href="tel:+380684439426" alt="tel"
          >+380 (68) 443-94-26</a
        >
      </div>
      <h2 class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h2>

      <!-- NAV-ADDRESS BOX -->
      <div class="footer-nav-address-box">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="home" href="./index.html">Home</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="about-us" href="#about-us">About Us</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="Catalog" href="#catalog">Catalog</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="Sale" href="#sale">Sale</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="reviews" href="#reviews">Reviews</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" alt="contact-us" href="#contact-us">Contact Us</a>
            </li>
          </ul>
        </nav>
        <address class="footer-address"><a href="https://www.google.com.ua/maps/place/Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.7377781,-111.9605957,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35e77fa0eb7:0xc1164a62acb39aa5!8m2!3d40.7377741!4d-111.9580208!16s%2Fg%2F1tw_nr0s?hl=ru&entry=ttu&g_ep=EgoyMDI1MDEwOC4wIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D" alt="google-maps" target="_blank">
          1678 S. Pioneer Road Salt Lake City UT 84104</a>
        </address>
      </div>

      <!-- BOTTOM BOX -->
      <div class="footer-bottom-box">
        <p class="footer-copyright-text">
          &copy;2023 The Watch Spot. All rights reserved.
        </p>
        <div class="footer-terms-and-privacy-box">
          <a class="footer-terms-and-privacy-link" alt="Terms-of-Service" href="">Terms of Service</a>
          <a class="footer-terms-and-privacy-link" alt="Privacy-Policy" href="">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>

  
</footer>
