<header class="header">
    <div class="header-cont">
        <nav class="header-nav">
            <p class="header-logo">watchcharm</p>
            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-item-link" href="./index.html">Home</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="">About Us</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="">Catalog</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="">Sale</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="">Reviews</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header-icons-cont">
            <ul class="header-media-list">
                <li class="header-media-item">
                    <a class="header-icon-media-link" href="">
                        <svg class="header-media-icon" width="20" height="20">
                            <use href="./img/svg/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-media-item">
                    <a class="header-icon-media-link" href="">
                        <svg class="header-media-icon" width="20" height="20">
                            <use href="./img/svg/icons.svg#icon-insta"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-media-item">
                    <a class="header-icon-media-link" href="">
                        <svg class="header-media-icon" width="20" height="20">
                            <use href="./img/svg/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="header-burger-btn">
            <svg class="header-burger-icon">
                <use href="./img/svg/icons.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>