
<header class="header" id="home">
    <div class="container header-cont">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">watchcharm</a>
            <ul class="header-nav-list">
                <li class="header-nav-item current"><a class="header-nav-item-link" href="#home">Home</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#about-us">About Us</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#cdtalog">Catalog</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#sale">Sale</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#revius">Reviews</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#contact-us">Contact Us</a></li>
            </ul>
            <div class="header-icons-cont">
                <ul class="header-media-list">
                    <li class="header-media-item">
                        <a href="https://www.facebook.com/goITclub/" class="header-icon-media-link">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-media-item">
                        <a href="https://www.instagram.com/goitclub/" class="header-icon-media-link">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-media-item">
                        <a href="https://www.youtube.com/c/GoIT" class="header-icon-media-link">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <button type="button" class="header-burger-btn">
            <svg class="header-burger-icon">
                <use href="./img/svg/icons.svg#icon-burger"></use>
            </svg>
    </div>
</header>


