
<header class="header" id="home">
    <div class="container header-cont">
        <nav class="header-nav">
            <a class="header-logo" href="./index.html">watchcharm</a>
            <ul class="header-nav-list">
                <li class="header-nav-item current"><a class="header-nav-item-link" href="#home">Home</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#about-us">About Us</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#catalog">Catalog</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#sale">Sale</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#reviews">Reviews</a></li>
                <li class="header-nav-item"><a class="header-nav-item-link" href="#contact-us">Contact Us</a></li>
            </ul>
            <div class="header-icons-cont">
                <ul class="header-media-list">
                    <li class="header-media-item">
                        <a href="https://www.facebook.com/goITclub/" class="header-icon-media-link" target="_blank" rel="noopener noreferrer">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-media-item">
                        <a href="https://www.instagram.com/goitclub/" class="header-icon-media-link" target="_blank" rel="noopener noreferrer">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-insta"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-media-item">
                        <a href="https://www.youtube.com/c/GoIT" class="header-icon-media-link" target="_blank" rel="noopener noreferrer">
                            <svg class="header-media-icon" width="20" height="20">
                                <use href="./img/svg/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <button type="button" class="header-burger-btn" data-menu-open>
            <svg class="header-burger-icon">
                <use href="./img/svg/icons.svg#icon-burger"></use>
            </svg>
        </button>


    <div class="mobile-menu" data-menu>

        <button class="mobile-menu-close-btn" data-menu-close>
            <svg class="mobile-menu-close-icon">
                <use href="./img/svg/icons.svg#icon-x"></use>
            </svg>
        </button>
        <nav class="mobile-menu-nav">
            <ul class="mobile-menu-nav-list">
                <li class="mobile-menu-nav-item current"><a class="mobile-menu-nav-link" href="#home">Home</a></li>
                <li class="mobile-menu-nav-item"><a class="mobile-menu-nav-link" href="#about-us">About Us</a></li>
                <li class="mobile-menu-nav-item"><a class="mobile-menu-nav-link" href="#cdtalog">Catalog</a></li>
                <li class="mobile-menu-nav-item"><a class="mobile-menu-nav-link" href="#sale">Sale</a></li>
                <li class="mobile-menu-nav-item"><a class="mobile-menu-nav-link" href="#revius">Reviews</a></li>
                <li class="mobile-menu-nav-item"><a class="mobile-menu-nav-link" href="#contact-us">Contact Us</a></li>
            </ul>
        </nav>
        <div class="mobile-menu-media">
            <ul class="mobile-menu-media-list">
                <li class="mobile-menu-media-item">
                    <a class="mobile-menu-media-item-link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
                        <svg class="mobile-menu-media-icon">
                            <use href="./img/svg/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-menu-media-item">
                    <a class="mobile-menu-media-item-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">
                        <svg class="mobile-menu-media-icon">
                            <use href="./img/svg/icons.svg#icon-insta"></use>
                        </svg>
                    </a>
                </li>
                <li class="mobile-menu-media-item">
                    <a class="mobile-menu-media-item-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
                        <svg class="mobile-menu-media-icon">
                            <use href="./img/svg/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</header>





