.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement.container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.advertisement-section-container {
  display: block;
  background-color: #0c0c0c;
  background-image: url(../img/advertisement/adv-mob.png);
  border-radius: 30px;
  min-width: 335px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 60px 28px;
}
@media (min-resolution: 192dpi) {
  .advertisement-section-container {
    background-image: url(../img/advertisement/adv-mob@2x.png);
  }
}
.advertisement-text-container {
  margin-bottom: 28px;
}
.advertisement-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.advertisement-text-span {
  color: rgba(251, 251, 251, 0.5);
}
.advertisement-link-container {
  width: 160px;
  height: 48px;
}
.advertisement-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.advertisement-link:hover,
.advertisement-link:focus {
  color: #0c0c0c;
  background-color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .advertisement-section-container {
    background-image: url(../img/advertisement/adv-tab.png);
    max-width: 704px;
    padding: 80px 64px;
  }
  .advertisement.container {
    padding: 40px 32px;
  }
  .advertisement-text {
    font-size: 48px;
    line-height: 0.92;
  }
  .advertisement-text-container {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .advertisement-section-container {
    background-image: url(../img/advertisement/adv-tab@2x.png);
  }
} /*
@media only screen and (min-width: 1280px) {
  .advertisement.container {
    max-width: 1280px;
    padding: 50px 65px;
  }
  .advertisement-section-container {
    background-image: url(../img/advertisement/adv-desk.png);
    max-width: 1150px;
    display: flex;
    padding: 83px 80px;
  }
  .advertisement-text-container {
    margin-right: 140px;
    max-width: 690px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .advertisement-section-container {
    background-image: url(../img/advertisement/adv-desc@2x.png);
  }
}*/
