.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually {
  display: none;
}
/*CSS MOB*/

.catalog {
  padding: 30px 0;
}
.catalog_h2 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
  width: 118px;
}
.catalog_ul_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.catalog_li_items {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  width: 335px;
  height: 364px;
}
.catalog_div_items_img {
  padding: 18px 36px;
}
.catalog_div_items {
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog_div_items_txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog_p_name {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.catalog_p_price {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}
.catalog_btn {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  border: none;
  margin: 0 auto;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog_btn:hover,
.catalog_btn:focus {
  background-color: #1f3cd4;
}
.catalog_div_picture {
  display: flex;
  justify-content: center;
}
/*CSS TAB*/
@media screen and (min-width: 768px) {
  .visually {
    display: list-item;
  }
  .container_catalog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .catalog {
    padding: 40px 0;
  }
  .catalog_div_items {
    padding: 24px 32px;
  }
  .catalog_h2 {
    font-size: 48px;
    line-height: 0.91667;
    padding-bottom: 40px;
    width: 117px;
  }
  .catalog_ul_items {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    margin-bottom: 0;
  }
  .catalog_li_items {
    width: 344px;
    height: 414px;
    /*width: calc((100% - 16px) / 2);*/
  }
  .catalog_div_items_img {
    padding: 10px 6px;
  }
  .catalog_p_name {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    max-width: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .catalog_btn {
    display: none;
  }
}
/*CSS PC*/
@media screen and (min-width: 1280px) {
  .container_catalog {
    padding-left: 65px;
    padding-right: 65px;
  }
  .catalog {
    padding: 50px 0;
  }
  .catalog_ul_items {
    column-gap: 23px;
    row-gap: 32px;
  }
  .catalog_h2 {
    padding-bottom: 40px;
  }
  .catalog_li_items {
    /*width: calc((100% - 32px) / 3);*/
    width: 368px;
    height: 414px;
  }
}
