      .contact-us {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      @media screen and (min-width: 768px) {
        .contact-us {
            padding-top: 40px;
            padding-bottom: 40px;
        } 
      }
      
        @media screen and (min-width: 1280px) {
        .contact-us {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .contact-us-container {
            padding-right: 65px;
            padding-left: 65px;
        }
        }

      .contact-us-title {
          font-family: "Gilroy", sans-serif;
          font-weight: 600;
          font-size: 32px;
          line-height: 0.91;
          letter-spacing: -0.02em;
          color: #0c0c0c;
          margin-bottom: 24px;
      }

      @media screen and (min-width: 768px) {
          .contact-us-title {
              font-size: 48px;
              margin-bottom: 40px;
          }
      }

      .contact-us-wrap {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding-bottom: 30px;
      }

      @media screen and (min-width: 768px) {
          .contact-us-wrap {
            gap: 40px;
            padding-bottom: 40px;
        }
      }

      @media screen and (min-width: 1280px) {
          .contact-us-wrap {
              flex-direction: row;
          }
      }

      .contact-us-box {
          padding: 48px 28px;
          background-color: #f3f3f3;
          border-radius: 30px;
      }

      @media screen and (min-width: 768px) {
          .contact-us-box {
              padding: 50px 122px;
              border-radius: 50px;
          }
      }

      @media screen and (min-width: 1280px) {
          .contact-us-box {
              padding: 50px 60px;
          }
          .contact-us-img {
            border-radius: 50px;
          }
      }

      .contact-us-txt {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.25;
          letter-spacing: -0.02em;
          color: #0c0c0cb3;
          margin-bottom: 28px;
      }

      @media screen and (min-width: 768px) {
          .contact-us-txt {
              font-size: 16px;
              max-width: 460px;
              margin-bottom: 32px;
          }
      }

      .contact-us-form {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 18px;
          max-width: 279px;
      }

      .contact-us-label {
          align-self: flex-start;
          transition: color 550ms ease-in-out;
      }

      .contact-us-input:focus {
          outline: #3350e9;
          border-color: #3350e9;
      }


      .contact-us-input {
          display: block;
          min-width: 224px;
          padding: 12px 14px;
          border-radius: 12px;
          background-color: transparent;
          border: 1px solid rgba(12, 12, 12, 0.15);
      }

      @media screen and (min-width: 768px) {
          .contact-us-input {
              width: 460px;
              padding: 16px 18px;
          }
      }

      .contacts-us-input::placeholder {
          font-family: "Gilroy", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.25;
      }

      @media screen and (min-width: 768px) {
          .contacts-us-input::placeholder {
              font-size: 16px;
          }
      }


      .contact-us-btn {
          position: relative;
          font-family: "Gilroy", sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.28571;
          text-align: center;
          color: #fbfbfb;
          padding: 12px 50px;
          border-radius: 16px;
          border: none;
          background-color: #3350e9;
          align-self: flex-start;
          cursor: pointer;
          margin-top: 10px;
      }

      @media screen and (min-width: 768px) {
          .contact-us-btn {
              padding: 17px 63px;
              margin-top: 16px;
          }
          .contact-us-img {
            border-radius: 50px;
          }
      }

      .contact-us-img {
          margin: 0 auto;
          border-radius: 30px;
      }