/* Styles for Mobile devices */
.hero {
  padding-bottom: 30px;
}
.hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
  padding: 60px 20px 0px 20px;
  width: 375px;
}
.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 335px;
}
.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.hero-span {
  color: #3350e9;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.hero-img {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  gap: 155px;
  width: 335px;
  height: 44px;
  position: relative;
}
.hero-list {
  display: flex;
}

.photo {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
}
.photo1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.photo2 {
  position: absolute;
  top: 0;
  left: 34px;
  z-index: 1;
}
.photo3 {
  position: absolute;
  top: 0;
  left: 68px;
  z-index: 2;
}
.hero-link {
  min-width: 72px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  align-items: baseline;
}
.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}
.img-watch {
  border-radius: 30px;
  width: 335px;

  background: rgba(12, 12, 12, 0.2);
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero {
    padding-bottom: 40px;
  }
  .hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 80px 32px 0px 32px;
    width: 768px;
  }
  .hero-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 11px;
    width: 704px;
  }
  .text-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 557px;
  }

  .hero-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 0.85;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 572px;
  }
  .hero-span {
    color: #3350e9;
  }
  .hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    width: 480px;
  }
  .hero-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 180px;
    width: 136px;
    height: 260px;
    position: relative;
  }
  .hero-list {
  }
  .hero-item {
  }
  .photo {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
  }
  .photo1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .photo2 {
    position: absolute;
    top: 0;
    left: 44px;
    z-index: 1;
  }
  .photo3 {
    position: absolute;
    top: 0;
    left: 86px;
    z-index: 2;
  }
  .hero-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    width: 102px;
    text-align: end;
  }
  .img-watch {
    border-radius: 50px;
    width: 704px;

    background: rgba(12, 12, 12, 0.2);
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .hero {
    padding-bottom: 50px;
  }
  .hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 80px 65px 0px 65px;
    width: 1280px;
  }
  .hero-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 407px;
    width: 1150px;
  }
  .text-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 597px;
  }
  .hero-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 0.875;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 597px;
  }
  .hero-span {
    color: #3350e9;
  }
  .hero-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    width: 480px;
  }
  .hero-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 189px;
    min-width: 146px;
    height: 269px;
    position: relative;
  }
  .hero-list {
  }
  .photo {
    width: 60px;
    height: 60px;

    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
  }
  .photo1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .photo2 {
    position: absolute;
    top: 0;
    left: 48px;
    z-index: 1;
  }
  .photo3 {
    position: absolute;
    top: 0;
    left: 90px;
    z-index: 2;
  }

  .hero-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    width: 102px;
    text-align: end;
  }
  .img-watch {
    border-radius: 50px;
    width: 1150px;

    background: rgba(12, 12, 12, 0.2);
  }
}
